.App {
  text-align: center;
}

input {
  margin: .5rem 0;
}
fieldset {
  margin: .5rem 0;
}

button {
  margin: 1rem 0;
}

#low, #middle, #high {
  margin: 0 .5rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 0 auto
}