select {
  display: block;
  margin-top: 1rem;
}
button {
  margin-top: 1rem;
}

td button {
  margin-top: 0rem;
}
td {
  vertical-align: middle;
}

h5 {
  margin-top: 1rem;
  margin-bottom: 0;
}

.btn-group {
  margin: 1rem 0;
}
.btn-group label {
  margin-right: .5rem;
}
.toggle-btn {
  background-color: rgb(233, 160, 24) !important;
  border-color: rgb(233, 160, 24) !important;
}
.btn-check:checked+.btn-primary {
  background-color: rgb(179, 125, 25) !important;
  border-color: rgb(179, 125, 25) !important;
}
