@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
img {
    width: 100%;
    height: auto;
}
body {
    font-family: 'Roboto', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(0, 183, 255);
    color: white;
    padding: 2rem;
}
h1 {
    padding: 1rem 0;
    font-size: 2.5rem;
}

main {
    padding: 2rem;
    display: flex;
    align-items: center;
}
.main-text {
    flex: 1;
}
.main-text > p {
    padding: 1rem;
}

.bears-title {
    text-align: center;
    font-size: 2rem;
}
.source {
    color: rgba(0, 0, 0, 0.781);
}
section {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
section > div {
    padding: 1rem;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}
li {
    padding: 0 .75rem;
    color: rgba(0, 0, 0, 0.705);
}




@media screen and (max-width: 990px) {
    main {
        flex-direction: column;
        padding-top: 1rem;
    }
    .bear-img1 {
        padding-bottom: 2rem;
    }
}